@import url('reset.css');
@import url('scrollbar.css');
@import url('typo.css');
@import url('common.css');
@import url('nav.css');
@import url('main.css');
@import url('footer.css');
@import url('effetti.css');

/*
--------
BODY
--------
*/

body {
    height: 100vh;
}

body .main-container {
    height: calc(100% - 5.625rem);
    overflow: hidden;
}