/*
--------
RESET
--------
*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*
--------
TYPO
--------
*/

body {
    font-family: 'Montserrat', sans-serif;
    color: #fff;
    font-size: .875rem;
}

a {
    color: inherit;
}

nav .menu i {
    font-size: 1.25rem;
}

main #discover a {
    font-size: .875rem;
}

.text-center {
    text-align: center;
}

main .row .col h3 {
    font-size: 1em;
}

main .row .col .text-center div:last-child {
    font-size: .875rem;
}

/*
--------
COMMON
--------
*/

.flex {
    display: flex;
}

.justify-space-between {
    justify-content: space-between;
}

.wrap {
    flex-wrap: wrap;
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
}

.pdl-20 {
    padding-left: 1.25rem;
}

.pdr-20 {
    padding-right: 1.25rem;
}

.mr-15 {
    margin-right: .9375rem;
}

/*
--------
BODY
--------
*/

body {
    height: 100vh;
}

body .main-container {
    height: calc(100% - 5.625rem);
}

/*
--------
NAV
--------
*/

nav {
    background-color: #000000;
    height: 100%;
    width: 14.375rem;
    flex-direction: column;
    overflow: hidden;
}

nav .none-lg {
    display: none;
}

nav .logo {
    height: 5.625rem;
    flex-shrink: 0;
    padding: 1.25rem;
}

nav .logo img {
    width: 75%;
}

nav .nav-content {
    flex-direction: column;
    overflow: hidden;
    height: 100%;
}

nav .menu li a {
    padding: .3125rem 1.25rem;
}

nav .menu li:first-child a {
    border-left: 2px solid #adff2f;
    padding-left: 1.125rem;
}

nav .menu a {
    display: block;
}

nav .menu img {
    width: 1.25rem;
    margin-right: .4375rem;
}

nav .playlist {
    overflow: hidden;
    flex-direction: column;
    margin-top: .9375rem;
}

nav .playlist .create-playlist {
    align-items: center;
    margin-top: .9375rem;
}

nav .playlist .create-playlist:before {
    content: '+';
    display: inline-block;
    background-color: #a3a3a3;
    height: 2.1875rem;
    width: 2.1875rem;
    color: #000;
    line-height: 2.1875rem;
    text-align: center;
    font-size: 2.5rem;
    margin-right: .625rem
}

nav .playlist ul {
    flex-grow: 1;
    overflow: auto;
    margin-top: 1.25rem;
}

nav .playlist ul li {
    margin-bottom: 1.25rem;
}

nav .lower-nav {
    margin-top: auto;
    padding-left: 1.25rem;
    padding-right: 1.25rem;
}

nav .lower-nav .download {
    margin-bottom: .625rem;
    margin-top: .3125rem;
}

nav .lower-nav .download img {
    width: .625rem;
    margin-right: .625rem;
}

nav .lower-nav .profile {
    align-items: center;
    margin-top: .625rem;
}

nav .lower-nav .profile img {
    width: 1.5625rem;
    margin-right: .625rem;
}

@media screen and (max-width:552px) {
    nav {
        width: 3.125rem;
    }

    nav .none-lg {
        display: block;
    }

    nav .none-xs {
        display: none;
    }

    nav .logo {
        height: auto;
        padding: .3125rem .75rem .625rem;
    }

    nav .logo img {
        width: 100%;
    }

    nav .menu li a {
        padding: .3125rem .8125rem;
    }

    nav .menu li:first-child a {
        border-left: none;
        padding: .3125rem .8125rem;
    }

    nav .lower-nav {
        padding-left: .75rem;
        padding-right: .75rem;
    }

    nav .lower-nav .download img {
        position: relative;
        left: .4375rem;
    }
    
}

/*
--------
MAIN
--------
*/

main {
    background-color: #141922;
    height: 100%;
    width: calc(100% - 14.375rem);
    overflow: auto;
    padding-top: 5.625rem;
}

/* Overlay */

main .overlay {
    background-color: rgba(0, 0, 0, 0.5);
    height: 5.625rem;
    position: fixed;
    top: 0;
    left: 14.375rem;
    right: 0;
    justify-content: flex-end;
    align-items: center;
    padding-right: 1.5625rem;
}

main .overlay button {
    color: inherit;
    font-family: inherit;
    background-color: inherit;
    padding: .9375rem 2.5rem;
    border: 1px solid #fff;
    border-radius: 2.5rem;
    text-transform: uppercase;
    pointer-events: auto;
}

/* Main Content */

main .main-content {
    padding-left: 1.25rem;
    padding-right: 1.875rem;
}

/* Lista discovery */

main #discover ul {
    justify-content: center;
    gap: 1.25rem;
    text-transform: uppercase;
    margin-top: 1.25rem;
}

main #discover ul li {
    margin-bottom: 2.1875rem;
}

/* Recently Played */

main #recently-played h2 {
    margin-bottom: 1.5625rem;
}

main .row {
    margin: 0 -0.4688rem;
}

main .row .col {
    width: calc(100% / 6);
    max-width: 10.9375rem;
    padding: .4688rem;
}

main .row .col img {
    width: 100%;
}

main .row .col h3 {
    margin: 1.25rem 0 .625rem;
}

main #john-doe h2,
main #popular-artists h2 {
    margin: 2.5rem 0 .9375rem;
}

main #john-doe h2 + div,
main #popular-artists h2 + div {
    margin-bottom: 1.875rem;
}

main #popular-artists img {
    border-radius: 50%;
}

@media screen and (max-width: 878px) {
    main .row {
        flex-wrap: wrap;
        margin: 0 -0.3125rem;
        justify-content: flex-start;
    }

    main .row .col {
        width: calc(100% / 4);
        padding: .3125rem;
    }
}

@media screen and (max-width: 640px) {
    main .row {
        justify-content: space-between;
    }

    main .row .col {
        width: calc(100% / 2);
    }
}

@media screen and (max-width:552px) {
    main {
        width: calc(100% - 3.125rem);
    }

    main .overlay {
        left: 3.125rem;
    }

    main .row .col {
        max-width: 220px;
    }
}

/*
--------
FOOTER
--------
*/

footer {
    height: 5.625rem;
    background-color: #282828;
    padding: .625rem .625rem 1.25rem;
    align-items: center;
}

footer .col-left {
    align-items: center;
}

footer .col-left img {
    width: 2.5rem;
    margin-right: .625rem;
}

footer .col-left .song-artist {
    margin-right: 2.5rem;
}

footer .col-left .song-artist div div:first-child {
    margin-right: .1875rem;
}

footer .col-left .icons {
    gap: .75rem;
}

footer .col-center {
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}

footer .col-center .icons {
    gap: 1.25rem;
    margin-bottom: .9375rem;
    align-items: center;
}

footer .col-center .icons .play {
    margin: 0 .625rem;
    font-size: 1.5em;
}

footer .col-center .time {
    align-items: center;
}

footer .col-center .time .time-slider {
    height: .3125rem;
    width: calc(30vw - 60px);
    background: linear-gradient(to right,#c1c1c1 15%,#5a5a5a 15%, #5a5a5a);
    border-radius: .625rem;
    margin: 0 1.5625rem;
}

footer .col-right {
    align-items: center;
}

footer .col-right .fa-list,
footer .col-right .fa-display {
    margin-right: .9375rem;
}

footer .col-right .fa-volume-high {
    margin-right: .625rem;
}

footer .col-right .volume-slider {
    height: .3125rem;
    width: calc(8vw + 30px);
    background: linear-gradient(to right,#c1c1c1 15%,#5a5a5a 15%, #5a5a5a);
    border-radius: .625rem;
}

@media screen and (max-width:878px) {
    footer .col-center .time .time-slider {
        margin: 0 .9375rem;
    }
}

@media screen and (max-width:640px) {
    footer .col-left .icons {
        flex-direction: column;
    }

    footer .col-left .song-artist  {
        margin-right: 1.5625rem;
    }

    footer .col-left .icons {
        gap: .3125rem;
    }
    
    footer .col-center .time .time-slider {
        margin: 0 .625rem;
    }

    footer .col-right .fa-list,
    footer .col-right .fa-display {
        margin-right: .625rem;
    }
}

@media screen and (max-width:552px) {
    footer .col-left .song-artist .name {
        flex-direction: column;
    }

    footer .col-right .fa-list,
    footer .col-right .fa-display {
        margin-right: .4375rem;
    }

    footer .col-right .fa-volume-high {
        margin-right: .3125rem;
    }
}

/*
--------
EFFETTI
--------
*/
